@model MVC_CRUD.Models.Product

@{
    ViewData["Title"] = "Display3";
}

<h1>Display3</h1>
@Model.Pcode
<br />
@Model.Name
<br />
@Model.Quantity_stock
<br />
@Model.Details
<br />
@Model.Price
<br />

